
body{
    background-color: #111318;

}

.champions_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;
}
.champions_profile ul {
list-style: none;
padding: 0;
margin: 0;
}

.champions_profile a {
    font-size: 0.85rem;
    text-decoration: none;
    max-width: 1rem;
    color: goldenrod;
}
.champions_profile img {
    width: 5rem;
    height: 5rem;
  }

.champions_profile li {
    margin: 0.3rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid black;
    display: inline-block;
    background-color: black;
    transition: all 0.2s ease;
    border: 1px solid rgb(80, 61, 12);
}
.parents {
    position: relative;

  }
.img1 {
    position: relative;
    border: 1px solid rgb(80, 61, 12);
    
  }

/* img.img2 {
    position: absolute;
    margin-left: -88px;
    margin-top: -8.25px ;
    image-rendering:initial;
    width: 6rem;
    height: 6rem;

  } */
  .champions_profile li:hover,
  .champions_profile li:active {
    transform: scale(1.2);
    background-color: #0c0c0c;
    color: white;
    border: 0.1rem solid goldenrod;

  }